.root{
    -fx-background-color: black;
}

.button{
   -fx-font-size: 28px;
   -fx-background-color: black;
   -fx-text-fill: "#31ff0d";
   -fx-font-family: "Barcade Brawl";
}

.button:hover{
      -fx-font-size: 36px;
}
