.root {
    -fx-background-color: goldenrod;
}

.header{
    -fx-background-color: "#754fd6";
}

.board-window {
    -fx-background-color: goldenrod;
   -fx-padding: 0 0 0 50;
}


.grid-button-empty
{
    -fx-background-color: black;
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}

.grid-button-wall
{
    -fx-background-color: white;
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}

.grid-button-player-A
{
    -fx-background-color: blue;
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}
.grid-button-player-B
{
    -fx-background-color: "#091c5c";
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}

.grid-button-beast-A,
.grid-button-errant-A,
.grid-button-imp-A,
.grid-button-lunatic-A,
.grid-button-nimrod-A,
.grid-button-specter-A,
.grid-button-warlock-A,
.grid-button-wisp-A

{
    -fx-background-color: red;
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}

.grid-button-beast-B,
.grid-button-errant-B,
.grid-button-imp-B,
.grid-button-lunatic-B,
.grid-button-nimrod-B,
.grid-button-specter-B,
.grid-button-warlock-B,
.grid-button-wisp-B
{
    -fx-background-color: "#69120c";
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: white white white white;
    -fx-border-width: 1;
}


.map_name_label
{
  -fx-font-size: 8px;
  -fx-text-fill:  "#31ff0d";
  -fx-font-family: "Barcade Brawl";
}

.map_name_blank
{
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: red red red red;
    -fx-border-width: 3;
    -fx-background-color: "#8cc9ff";
}

.map_name
{
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: black black black black;
    -fx-border-width: 1;
    -fx-background-color: "#8cc9ff";
}

.red-frame{
  -fx-border-style: solid  solid  solid  solid;
  -fx-border-color: red red red red;
  -fx-border-width: 3;
}